*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;
}

body{
    width:100vw;
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:
    radial-gradient(circle at top,
        #0b2e1e,
        #06150f,
        #000
    );

    color:#f5f1e6;
}

/* container central */
.container{
    text-align:center;
}

/* título */
.title{
    font-size:3rem;
    font-weight:bold;

    color:#f5f1e6;

    text-shadow:
    0 0 10px #d4af37,
    0 0 25px #b8860b;

    margin-bottom:30px;
}

.icon{
    margin-right:10px;
}

/* card */
.card{
    background:
    linear-gradient(145deg,
        rgba(10,40,25,0.95),
        rgba(5,20,12,0.98)
    );

    padding:30px;

    border-radius:15px;

    border:1px solid rgba(212,175,55,0.3);

    box-shadow:
    0 0 20px rgba(0,255,120,0.15),
    0 0 40px rgba(212,175,55,0.1);
}

/* input */
input{
    width:80%;
    padding:12px;

    margin-top:15px;

    border:none;
    outline:none;

    border-radius:10px;

    background:#f5f1e6;
    color:#0b2e1e;

    font-size:1rem;

    text-align:center;
}

/* botão */
button{
    margin-top:15px;

    padding:12px 25px;

    border:none;
    border-radius:10px;

    cursor:pointer;

    font-weight:bold;

    background:linear-gradient(135deg,#d4af37,#b8860b);

    color:#0b2e1e;

    box-shadow:0 0 15px rgba(212,175,55,0.4);

    transition:.3s;
}

button:hover{
    transform:scale(1.05);
    box-shadow:0 0 25px rgba(212,175,55,0.7);
}

/* mensagem */
#mensagem{
    margin-top:15px;
    font-size:1.1rem;
    color:#f5f1e6;
}
